<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sanju.udemylearning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- the following two permissions are required if you want to take photo in selector -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecyclerView.GridRecyclerViewStudyActivity"></activity>
        <activity android:name=".RecyclerView.SimpleRecyclerViewStudyActivity" />
        <activity android:name=".EspressoTestingUiActivity" />
        <activity android:name=".JetpackLivedataActivity" />
        <activity android:name=".DataBindingActivity" />
        <activity android:name=".androidxCamera.CameraxActivity" />
        <activity android:name=".Retrofit.RetrofitStudyActivity" />

        <service android:name=".BackgroundProcess.service" />

        <activity android:name=".BackgroundProcess.BackgroundServicesActivity" />
        <activity android:name=".BackgroundProcess.BackgroundProcessActivity" />
        <activity android:name=".NoteApp.NoteEditorActivity" />
        <activity android:name=".NoteApp.NoteUsingSharedPrefrenceActivity" />
        <activity android:name=".sharedPrefrence.SharedPrefrenceActivity" />
        <activity android:name=".TimeTableActivity" />
        <activity android:name=".StopwatchActivity" />
        <activity android:name=".GeoLocationActivity" />
        <activity android:name=".RecyclerJsonActivity" />
        <activity android:name=".JsonImportActivity" />
        <activity android:name=".EmailSendOptionActivity" />
        <activity android:name=".JsonActivity" />
        <activity android:name=".imageProgressBarActivity" />
        <activity
            android:name=".ImagesSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false" /> <!-- <activity android:name=".ImagePickerActivity"></activity> -->
        <activity
            android:name=".ImagePickerActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false" />
        <activity android:name=".ProgressButtonActivity" />
        <activity android:name=".CircularProgressBarActivity" />
        <activity android:name=".CircleAnimationActivity" />
        <activity android:name=".NewLookActivity" />
        <activity android:name=".AnimateTransitionsActivity" />
        <activity android:name=".CollapsingToolbarActivity" />
        <activity android:name=".ButtonNaviagtionActivity" />
        <activity android:name=".NeumorphicAnimationActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".DownloadWebcontentActivity" />
        <activity android:name=".SharedAnimationActivity" />
        <activity android:name=".DetailsActivity" />
        <activity android:name=".OtherActivity" />
        <activity android:name=".ListviewActivity" />
        <activity android:name=".AudioActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".NotificationBellActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".GridlayoutActivity" />
        <activity android:name=".SwipeVideoActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".VideoActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FadingAnimActivity" />
    </application>

</manifest>